.card {
    display: flex;
    border-radius: 10px;
    width: 95%;
    height: 200px;
    box-shadow: 1px 1px 5px black;
    margin-bottom: 1rem;
    background-color: #3E4F59;
    position: relative;

    font-family: 'Roboto', sans-serif;
}

.card--content {
    width: 100%;
    padding: 10px;
    overflow: auto;
    overflow-x: hidden;
}

.card--content::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.card--content::-webkit-scrollbar {
    background-color: #252525;
    border-radius: 20px;
}

.card--content>p {
    color: white;
}

.card--title {
    font-size: 3rem;
    color: #ED1C24;
    margin: 0;
}

.card--image {
    height: 100%;
    width: 150px;
    margin-bottom: 0.5rem;
    display: block;
}

.overlay-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    height: 200px;
    position: absolute;
    background: #3E4F59;
    opacity: 0;
    cursor: pointer;
}

.overlay-hover {
    background-image: url('../../assets/images/youtube-brands.svg');
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: center;
}