.card-container {
  width: 40%;
  height: 100%;
  background: #ed1c24;
  overflow: auto;
  overflow-x: hidden;
}

.card-container::-webkit-scrollbar-thumb {
  background: #9db2bf;
  border-radius: 10px;
}

.card-container::-webkit-scrollbar {
  background-color: #dde6ed;
  border-radius: 20px;
}

.card-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  .card-container {
    width: 100%;
  }
}
