.container {
    margin: 0 auto;
    width: 100vw;
    height: 50vh;
    padding: 40px;
    background-image: url('../assets/images/pexels-pixabay-33129.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    font-size: 4.4rem;
    text-align: center
}

.form {
    display: grid;
}

.label {
    font-size: 1.2rem;
    margin-bottom: 0.2rem;
    text-transform: uppercase;
}

.input {
    font-size: 1.6rem;
    padding: 0.5rem;
    line-height: 2.8rem;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin-bottom: 1rem;
    outline: none;
}

.button {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 1rem 2rem;
    border: 1px aolid rgba(0, 0, 0, 0.75);
    border-radius: 20px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background-color 250ms;
}

.button:hover {
    background-color: rgba(0, 0, 0, 0.85);
}

@media (min-width:786px) {
    .form {
        grid-template-columns: auto 1fr auto;
        grid-gap: 1rem;
        align-items: center;
    }

    .input {
        margin-bottom: 0;
    }
}

.card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 4rem;
}